.venv-*/
__pycache__/
*.pyc
data/raw_videos/*
data/processed_videos/*
data/pose/**
simba_project/
models/pretrained/*
!**/.gitkeep
.pytest_cache/
synthetic_run/
*.egg-info/
videos/
data/archive/
data/resident_clips/*
data/annotations/*.bak.csv
data/pose/logs/
.ipynb_checkpoints/
~$*.docx
